.img_about_desktop {
  display: none;
}

.img_about_mobile {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  height: 255px;
  width: 90%;
  border-radius: 10px;
  filter: brightness(0.7);
}

.CollapseItem {
  min-height: 60vh;
}

@media screen and (min-width: 1024px) {
  .img_about_mobile {
    display: none;
  }

  .img_about_desktop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 220px;
    border-radius: 10px;
  }
  .Collapse {
    width: 85%;
    margin: 0 auto;
  }
}
