.nameContainer {
  display: flex;
}

.tagContainer {
  padding-right: 1rem;
}

.tagName {
  color: white;
  background-color: #ff6060;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 350px) {
  .nameContainer {
    flex-wrap: wrap;
  }
  .tagName {
    margin: 0.5rem;
  }
}
